RHT_OCP4_MASTER_API=https://api.ocp-ap3.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-ap3.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=ed1e5e34-e692-4809-a5d0-8f172fdbf51c
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-ap3.prod.nextcle.com
RHT_OCP4_DEV_USER=dannielchiang
RHT_OCP4_DEV_PASSWORD=2a8d64f2144e4e2e8867
RHT_OCP4_GITHUB_USER=Dannielchung
RHT_OCP4_QUAY_USER=dannielchung
